@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Main Styling */
html {
  background-color: #ffe8b7;
}

body {
  font-family: 'Ubuntu', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: aliceblue;
  border-left: 5px dashed skyblue;
  border-right: 5px dashed skyblue;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 0;
  font-size: 36px;
}

header h1 small {
  font-size: 14px;
}

h1 {
  margin-bottom: 5px;
}

footer {
  text-align: center;
}

footer h4 {
  margin: 100px 0 0;
}

button {
  cursor: pointer;
  display: block;
  font-weight: bold;
  /* padding: 10px; */
  /* margin: 25px 0; */
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #c1ffc1;
  width: 160px;
}

.pseudo-btn {
  display: block;
  font-weight: bold;
  padding: 7px 4px 0px;

  height: 33px;
  border: none;
  border-radius: 5px;
  background: #c1ffc1;
}

input[type='file'] {
  width: 180px;
}

.header-and-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-and-btn-container h1 {
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 30px;
  }

  button {
    margin-top: 5px;
    width: 80%;
  }
}

#tasks-per-day-display {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#tasks-per-day-display h3 {
  text-decoration: underline;
  margin-top: 40px;
}

#tasks-per-day-display div {
  width: 50%;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #tasks-per-day-display div {
    width: 100%;
    /* padding: 0 25%; */
  }
}

#tasks-per-day-display div div {
  margin-top: 5px;
  width: 100%;
}

#ongoing-tasks-buttons-display {
  display: flex;
}

#ongoing-tasks-buttons-display button {
  margin-right: 5px;
}

#ongoing-tasks-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th {
  position: relative;
  cursor: pointer;
}

th:first-of-type {
  text-align: left
}

tr td:first-of-type {
  text-align: left
}

tr:nth-child(even) {
  background: #eee
}

td {
  padding: 5px
}

.table-icons {
  position: absolute;
  top: 3px;

}

.chart-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.big-chart {
  position: absolute;
  width: 100%;
  top: 0;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 2;
}

.small-chart {
  position: absolute;
  width: 100%;
  top: 0;
}

/* Task Classes */
.art-life {
  font-family: ink-free;
  color: green;
  font-weight: bold;
}

.wellness {}

.the-game {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
}

.social {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

.dopa-limit {
  background: pink;
}