@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* variables */
:root {
  --main-font: 'Ubuntu',
    sans-serif;
}

/* Main Styling */
* {
  box-sizing: border-box;
}

html {
  background-color: #ffe8b7;
}

body {
  font-family: var(--main-font);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: aliceblue;
  border-left: 5px dashed skyblue;
  border-right: 5px dashed skyblue;
}

header {
  text-align: center;
  height: 50px;
}

header h1 {
  margin-top: 0;
  font-size: 36px;
}

header h1 small {
  font-size: 14px;
}

h1 {
  margin-bottom: 5px;
}

#sections-container {
  min-height: calc(100vh - 60px);
}

footer {
  height: 60px;
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: indigo;
  font-weight: bold;
  text-decoration: none;
}

footer a:active,
footer a:visited {
  color: indigo;
}

button {
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #97d5ff;
  width: 160px;
  box-shadow: 2px 2px 0px #5c5c5c;
  margin-right: 5px;
}

.pseudo-btn {
  position: relative;
  display: block;
  padding: 7px 4px 0px;
  margin-right: 5px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #97d5ff;
  box-shadow: 2px 2px 0px #5c5c5c;
  width: 100%;
  overflow: hidden;
}

#filename-overlay {
  position: absolute;
  background: #97d5ff;
  top: 10px;
  left: 94px;
  font-size: 14px;
  width: 174px;
}

input {
  font-family: var(--main-font);
}

.header-and-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#tasks-per-day-display {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#tasks-per-day-display h3 {
  text-decoration: underline;
  margin-top: 40px;
}

#tasks-per-day-display div {
  width: 50%;
  font-size: 20px;
}

#tasks-per-day-display div div {
  margin-top: 5px;
  width: 100%;
}

#ongoing-tasks-buttons-display {
  display: flex;
}

#ongoing-tasks-buttons-display form {
  display: flex;
}

#ongoing-tasks-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th {
  position: relative;
  cursor: pointer;
}

th:first-of-type {
  text-align: left
}

tr {
  transition: background 0.2s ease;
}

tr td:first-of-type {
  text-align: left
}

tr:nth-child(even) {
  background: #eee
}

tr:hover {
  background: #a1d9ff;
}

.non-hover:hover {
  background: none;
}

td {
  padding: 5px
}

.table-icons {
  position: absolute;
  top: 3px;

}

.chart-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.big-chart {
  position: absolute;
  width: 100%;
  top: 0;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 2;
}

.small-chart {
  position: absolute;
  width: 100%;
  top: 0;
}

/* small laptop responsiveness */
@media screen and (max-width: 1000px) {
  #tasks-per-day-display div {
    width: 100%;
  }
}

/* mobile responsiveness */
@media screen and (max-width: 479px) {
  h1 {
    font-size: 30px;
  }

  button {
    margin-right: 0px;
    width: 80%;
  }

  #ongoing-tasks-buttons-display {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #ongoing-tasks-buttons-display form {
    width: 80%;
    justify-content: center;
  }

  .pseudo-btn {
    margin: 8px 0;
    margin-right: 0;
  }

  #sections-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-and-btn-container {
    align-items: center;
  }
}