/* Main Styling */
body {
  font-family: 'Courier New', Courier, monospace;
}

header {
  text-align: center;
}

header h1 {
  text-decoration: underline;
}

footer {
  text-align: center;
}

footer h4 {
  margin: 100px 0 0;
}

button {
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#tasks-per-day-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#tasks-per-day-display div {
  width: 50%;
  font-size: 20px;
}

/* Task Classes */
.art-life {
  font-family: ink-free;
  color: green;
  font-weight: bold;
}

.wellness {

}

.the-game {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
}

.social {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

.dopa-limit {
  background: pink;
}